<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

{% extends 'localindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/passwordchange4">
  <table class="table" id="customers">
    <tr>
      <th>Current password
      </th>
      <td><input type="password" name="textfield" required/></td>
    </tr>
    <tr>
      <th>New password</th>
      <td><input type="password" name="textfield2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required /></td>
    </tr>
    <tr>
      <th>Confirm password </th>
      <td><input type="password" name="textfield3" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="Change"  class="btn btn-primary"/>
      </div></td>
    </tr>
  </table>
</form>
{% endblock %}