{% extends 'legalassistantrindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="toaddschedule">
  <table width="200" border="0" class="table">
    <tr>
      <td>Date</td>
      <td><label>
        <input type="date" name="textfield" required />
      </label></td>
    </tr>
    <tr>
      <td>Fromtime</td>
      <td><label>
        <input type="time" name="textfield2" required />
      </label></td>
    </tr>
    <tr>
      <td>Totime</td>
      <td><label>
        <input type="time" name="textfield3" required/>
      </label></td>
    </tr>
    <tr align="CENTER">
      <td colspan="2">
          <input type="submit" name="Submit" value="Add" />

      </td>
    </tr>
  </table>
</form>
</body>
{%endblock%}