<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><div align="center"><a href="approvelocalcordinator"> approve local cordinator</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="approvetransuser">user verification</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="managemedicalofficer">add&manage medical officers</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="managelegalassistant">add&manage legal assistant</a></div></td>
    </tr>

    <tr>
      <td><div align="center"><a href="manageeducation">add&manage educational support</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="managejobs">manage jobs</a></div></td>
    </tr>

      <td><div align="center"><a href="/">logout</a></div></td>
    </tr>
    
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}

 <!--<li><a class="nav-link  active" href="approvelocalcordinator#about"> approve local cordinator</a></li>-->
          <!--<li><a class="nav-link " href="approvetransuser#about">user verification</a></li>-->
          <!--<li><a class="nav-link " href="managemedicalofficer#about"> medical officers</a></li>-->
          <!--<li><a class="nav-link " href="managelegalassistant#about"> legal assistant</a></li>-->
          <!--<li><a class="nav-link " href="manageeducation#about">educational support</a></li>-->
          <!--<li><a class="nav-link " href="managejobs#about">jobs</a></li>-->
          <!--<li><a class="nav-link " href="help#about">EMERGENCY HELP</a></li>-->

          <!--<li><a class="nav-link " href="/logout#about">logout</a></li>-->