<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="approvelocalcordinator">
  <table width="491"border="0" class="table">
    <tr>
      <td width="46">NAME</td>
      <td width="46">GENDER</td>
      <td width="46">QUALIFICATION</td>
      <td width="49">ADDRESS</td>
      <td width="53">PHONE</td>
      <td width="90">AREA ASSIGENED </td>
      <td width="48">EMAIL</td>
      <td width="88">&nbsp; </td>
    </tr>
      {% for i in val %}
        <tr>
          <td>{{i[2]}}</td>
          <td>{{i[10]}}</td>
          <td>{{i[9]}}</td>
          <td>{{i[11]}},{{i[3]}},<br>{{i[4]}},{{i[5]}}</td>
          <td>{{i[6]}}</td>
          <td>{{i[7]}}</td>
          <td>{{i[8]}}</td>
        <td><a href="acceptlocalcordinator?id={{i[1]}}">Accept</a> <br><br><a href="rejectlocalcordinator?id={{i[1]}}">Reject</a></td>
        </tr>
     {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}
