<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="toeditmanagemedicalofficer">
  <table width="200" border="0" class="table">
    <tr>
      <td>NAME</td>
      <td><label>
        <input type="text" name="textfield"value="{{val[1]}}" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>GENDER</td>
      <td><label>
        <input name="radiobutton" type="radio" value="male"{% if val[2]=="male" %} checked{% endif %} />
        Male 
        <input name="radiobutton" type="radio" value="female"{% if val[2]=="female" %} checked{% endif %} />
        Female 
        <input name="radiobutton" type="radio" value="others"{% if val[2]=="others" %} checked{% endif %} />
      Others</label></td>
    </tr>
    <tr>
      <td>SPECIALIZATION</td>
      <td><label>
        <select name="select">
          <option {% if val[9]=="gyno" %} selected{% endif %}>gyno</option>
          <option {% if val[9]=="dermetology" %} selected{% endif %}>dermetology</option>
          <option {% if val[9]=="cosmetology" %} selected{% endif %}>cosmetology</option>
        </select>
      </label></td>
    </tr>
    <tr>
    <td>HOSPITAl</td>
      <td><label>
        <input type="text" name="hospital" value="{{val[10]}}" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><label>
        <input type="text" name="textfield2"value="{{val[3]}}" required pattern="[A-Z a-z.]{3,25}" />
      </label></td>
    </tr>
    <tr>
      <td>POST</td>
      <td><label>
        <input type="text" name="textfield3"value="{{val[4]}}"  required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <td>PIN</td>
      <td><label>
        <input type="text" name="textfield4"value="{{val[5]}}" required pattern="[0-9]{6}" />
      </label></td>
    </tr>
    <tr>
      <td>PHONE</td>
      <td><label>
        <input type="text" name="textfield5"value="{{val[6]}}" required pattern="[6789][0-9]{9}" />
      </label></td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td><label>
        <input type="text" name="textfield6" value="{{val[7]}}" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
      </label></td>
    </tr>

    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="Edited" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}

