

{% extends 'legalassistantrindex.html' %}
{% block body %}
{%endblock%}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="managemeetingnoti">add&manage meeting notification</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="manageschedule">add&manage schedule</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="chat">chat with user</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="managehumanrights">add&manage human rights </a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="acceptbooking">approve&reject bookings</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
</html>
<li><a class="nav-link  active" href="managemeetingnoti#about"> meeting notification </a></li>
          <li><a class="nav-link " href="manageschedule#about">schedule</a></li>
          <li><a class="nav-link " href="chat#about">chat </a></li>
          <li><a class="nav-link " href="managehumanrights#about">human rights </a></li>
          <li><a class="nav-link " href="acceptbooking#about">bookings </a></li>

          <li><a class="nav-link " href="/logout#about">logout</a></li>