{% extends 'localindex.html' %}
{% block body %}
{%endblock%}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->

    <!--<tr>-->
      <!--<td><div align="center"><a href="manageawerness">Add and ManageAwerness Program</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="manageevent">Add and Manage Events</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="/">Logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
</form>
</body>
</html>
  <li><a class="nav-link  active" href="manageawerness#about"> Awerness Program </a></li>
          <li><a class="nav-link " href="manageevent#about">Events</a></li>