<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index1.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="login#about">
  <table width="200" border="0" class="table">
    <tr>
      <td><label>USERNAME</label></td>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <td>PASSWORD</td>
      <td><label>
        <input type="password" name="textfield2" required  />
      </label></td>
    </tr>
    <tr align="center">
      <td height="47" colspan="2">

          <input type="submit" name="Submit" value="LOGIN" />
          </td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->

{% endblock %}
