<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addlegalassistant#about">
  <div align="center">
    <table width="371" border="0" class="table">
      <tr>
        <td>Name</td>
        <td>Gender</td>
        <td>Place</td>
        <td>Post</td>
        <td>Phn No </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      {% for i in val %}
      <tr>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}&nbsp;</td>
        <td>{{i[5]}}</td>
        <td>{{i[7]}}&nbsp;</td>
        <td><a href="editmanagelegalassistant?id={{i[0]}}#about">Edit</a></td>
        <td><a href="deletemanagelegalassistant?id={{i[0]}}">Delete</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="7" align="center">
            <input type="submit" name="Submit" value="Add" />
        </td>
      </tr>
    </table>
  </div>  

</form>

</body>
<!--</html>-->
{% endblock %}
