<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="viewapprovelocalcordinator">
  <table width="491" border="0" class="table">
    <tr>
      <td width="46">NAME</td>
      <td width="49">PLACE</td>
      <td width="39">POST</td>
      <td width="26">PIN</td>
      <td width="53">PHONE</td>
      <td width="90">AREA ASSIGENED </td>
      <td width="48">EMAIL</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[2]}}</td>
       <td>{{i[3]}}</td>
       <td>{{i[4]}}</td>
       <td>{{i[5]}}</td>
       <td>{{i[6]}}</td>
       <td>{{i[7]}}</td>
       <td>{{i[8]}}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}

